@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@500;800&display=swap');

body{
    font-family: 'Assistant', sans-serif;
    text-align: center;
}

h1{
    font-size: 40px;
}

h2{
    font-size: 20px;
}

p{
    text-align: justify;
}
