@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to left, #700548, #362023);
}

main {
background-color: white;
border-radius: 20px;
box-shadow: 5px 5px 15px #687268;
width: 600px;
padding: 10px;
margin: auto;
}

h1 {
color: #080705;
text-align: center;
text-shadow: 1px 1px 2px #700548;
}

h2 {
color: #b65392;
}

P {
text-align: justify;
}